{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%} {{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}"> 

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

{% endblock %}
<br>
<br>
<br>
<br>

<body>
  {% block content %}
  <br>
  <br>
  <br>
  <br>
 
  <button type="button" class="btn btn-secondary"><a href="../pitch/"><button type="button" class="btn btn-warning">+ Add Pitch</a></button>
  <div class="container">
    <div class="card-columns">
      {% for category in category[::-1] %}

      <div class="card bg-transparent border-success">
        <div class="card-header bg-transparent border-success">
          {{category.title}}
        </div>
        <div class="card-body text">
          <blockquote class="blockquote mb-0">
            <p>{{category.pitch}}</p><br>
            <footer class="blockquote-footer bg-transparent border-success">{{category.author}}
              <br><cite title="Source Title">Publish date: {{category.date}}</cite></footer>
          </blockquote>
        </div>
        <div class="card-footer bg-transparent border-success">
          <button type="button" class="btn btn-outline-success btn-sm"><a href="/new_comment/{{category.id}}"><button type="button" class="btn btn-success">Comment</a></button> <button type="button" class="btn btn-outline-success btn-sm">
            <a href="/comments/{{category.id}}"><button type="button" class="btn btn-info">View comments</a></button> <button type="button" class="btn btn-danger">Delete</button> <i type="button" class="fas fa-thumbs-up" style='color:red'></i>
                               <i type="button" class="fas fa-thumbs-up" style='color:black'></i>
                  
                  </div>
              </div>
          </div>
      {% endfor %}
      
    </div>
    {% endblock %}
</body>